tqdm==4.67.1
rtdl-num-embeddings>=0.0.11
scikit-learn==1.6.1
scipy==1.15.2
pandas==2.2.3
numpy==2.1.2
matplotlib==3.10.1
requests==2.32.3
pytorch-tabnet==4.1.0
huggingface_hub>=0.20.0
xgboost>=1.7.0
lightgbm>=3.3.0
catboost>=1.2.0
delu>=0.0.26
shap>=0.41.0
rtdl_revisiting_models>=0.0.2
